---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInICon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio de Maicol Socha - Desarrollador Y programador Web con 2 años de experiencia" description="Contrata a Maicol Socha, un desarrollador web con 2 años de experiencia. Especializado en JavaScript, HTML, CSS y frameworks modernos.">
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <h1
                class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-6"
            >
                Hola, Soy Maicol Socha
                <a
                    href="https://www.LinkedInICon.com/in/maicol-socha"
                    target="_blank"
                    rel="noopener"
                    class="flex items-center"
                    ><Badge>Disponible Para Trabajar</Badge></a
                >
            </h1>
            <h2 class="text-2xl opacity-90">
                2 años de experiencia. <span class="text-blue-300/90"
                    >Desarrollador web de bogota colombia</span
                >
            </h2>

            <nav class="flex gap-x-2 mt-7">
                <SocialPill href="https://www.LinkedInICon.com/in/maicol-socha">
                    <LinkedInICon class="size-6" />LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/Maicolsocha">
                    <GithubIcon class="size-6" />Github
                </SocialPill>
                <SocialPill href="https://github.com/Maicolsocha">
                    <MailIcon class="size-6" />maisochajimenez@gmail.com
                </SocialPill>
            </nav>
        </section>
    </main>
</Layout>
