---

import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
 

---

<Layout>
	<main>
        <h1>Hola, Maicol Socha <Badge>Disponible Para Trabajar</Badge></h1>
        <h2>2 años de experincia. Desarrollador web</h2>
    </main>
</Layout>
