---
import ExperienceItem from "./ExperienceItem.astro";



const EXPERIENCE = [
    {
        date: "Octubre 2023 - Actualmente",
        title: "Desarrollador Web Division Digital",
        description: "Acompaño a los clientes en todo el proceso de creación y gestión de sus e-commerce: entiendo sus necesidades, diseño y optimizo sus tiendas, doy soporte técnico, propongo mejoras de experiencia de usuario y coordino con desarrolladores para garantizar que todo funcione como debe. Enlace a una delas tiendas que administro.",
        link: "https://electrificadoracapital.com/"
    },
    {
        date: "2022-03-01",
        title: "Marketing UI design in Figma",
        description: "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
        link: "#"
    },
    
]
---


<ol class="relative border-s border-gray-200 dark:border-sky-700/50 ml-4">
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
