---
import fotoyo from '../assets/fotoyo.jpg';

---

<header class="flex justify-between items-center py-4 w-full xl:w-[1120px] mx-auto">

    <img class="rounded-full w-12 h-14" src={fotoyo.src} alt="maicol ">

    <nav class="flex flex-row gap-10 opacity-90"> 
        <a href="#top">Inicio</a> 
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre Mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>