---
import fotoyo from '../assets/fotoyo.jpg';
---

<header class="flex justify-between item-center">

    <img class="rounded-full w-6 h-6" src={fotoyo.src} alt="maicol photo">

    <nav>
        <a href="/">Home</a> 
        <a href="/about">Sobre Mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>